config MSM_PERFORMANCE
	tristate "Core control driver to support userspace hotplug requests"
	help
	  This driver is used to provide CPU hotplug support to userspace.
	  It ensures that no more than a user specified number of CPUs stay
	  online at any given point in time.

config MSM_PERFORMANCE_HOTPLUG_ON
    bool "Hotplug functionality through msm_performance turned on"
    depends on MSM_PERFORMANCE
    default y
    help
	  If some other core-control driver is present turn off the core-control 
	  capability of msm_performance driver. Setting this flag to false will 
	  compile out the nodes needed for core-control functionality through msm_performance.
